<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='stylesheets/cad_pes_fisica.css'>
    <title>Formulário de cadastro pessoa física</title>
</head>

<%- include("./partialsHeader")%>

    <body>

        <main>

            <h3>Faça seu cadastro!</h3>

            <form action="/cad_pes_fisica" method="POST" enctype="multipart/form-data">
                <!--<label for="name"></label>
                <input type="text" name="nome" id="name" placeholder="nome" required>-->
                <!--RAZÃO SOCIAL-->
                <label for="documento"></label>
                <input type="text" name="cpf" id="" placeholder="cpf" required>

                <!--<label for="documento"></label>
                <input type="text" name="rg" id="" placeholder="rg" required>-->

                <label for="tel"></label>
                <input type="tel" name="tel" id="" placeholder="(DDD)celular" required>

                <!--ENDEREÇO-->
                <label for="endereco"></label>
                <input type="text" name="endereco" id="" placeholder="endereço...Av, Rua, etc" required>

                <!--ESTADO-->
                <div class="estado-cidade">
                    <div class="item1">
                        <label for="estado"></label>
                        <select name="estado" id="estado">
                            <option value="selecione">Estado</option>
                            <option value="SP">SP</option>
                            <option value="RJ">RJ</option>
                            <option value="PR">PR</option>
                            <option value="MG">MG</option>
                        </select>
                    </div>
                    <!--CIDADE-->
                    <div class="item2">
                        <label for="cidade"></label>
                        <select name="cidade" id="cidade">
                            <option value="selecione">Cidade</option>
                            <option value="Ferraz de Vasconcelos">Ferraz de Vasconcelos</option>
                            <option value="São Paulo">São Paulo</option>
                            <option value="São Paulo">São Paulo</option>
                            <option value="Taubaté">Taubaté</option>
                        </select>
                    </div>
                </div>

                <!--BAIRRO-->
                <label for="bairro"></label>
                <input type="text" id="bairro" name="bairro" placeholder="Bairro" required>



                <!--CEP-->
                <div class="cep">
                    <label for="cep"></label>
                    <input type="text" name="cep" id="cep" placeholder="Cep" required>
                    <label for="numero"></label>
                    <input type="text" name="numero" id="numero" placeholder="Número" required>
                </div>

                <label for="comentario">Complemento:</label>
                <textarea name="comentario" id="comentario" style="width: 300px; height: 100px;"></textarea>
                <!--upload de arquivos-->
                <div class="foto">
                    <h4>foto perfil</h4>
                    <a href=""><img src="images/perfil3.png"></a>
                    <input id="file" type="file" name="file" required>
                </div>

                <!--NÚMERO-->
                <div class="numero-button">
                    <button type="submit">Finalizar</button>
                </div>

            </form>
        </main>

        <%- include("./partialsFooter")%>

    </body>

</html>