<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style-client.css">
    <title>
        Smart List - Página de Login
    </title>
</head>

<body>
    <header>
        <div class="card-left">
            <img src="images/logo2.png" alt="logo" class="img_logo" href="/home">
        </div>
        <div class="card-center">
            <p>Bem vindo de volta, <b> <%=nome%> !</b></p>
        </div>
        <div class="card-right">
            <nav>
                <a href="/logout">Logout</a>
            </nav>
        </div>
    </header>
    <main>
        <div class="card-main-left">
            <ul>
                <li>
                    <a href="/loginSupermercado?option=inserir">Inserir novo lote</a>
                </li>
                <li>
                    <a href="/loginSupermercado?option=excluir-lote">Excluir lote</a>
                </li>
                <li>
                    <a href="/loginSupermercado?option=apagar-produto">Apagar produto</a>
                </li>
                <li>
                    <a href="/loginSupermercado?option=alterar-preco">Alterar preço de produto</a>
                </li>
            </ul>
        </div>
        <div class="card-main-right">
            <div class="content-top"><strong><%=contentTop%> - <%=content%></strong></div>
            <div class="content-bottom">
                <% if (option == 'inserir'){ %>
                    <form action="loginSupermercado" method="post">
                        <input type="file" name="novoLote" id="file">
                        <br>
                        <button type="submit">Enviar lote</button>
                    </form>
                    <%}if (option == 'excluir-lote'){%>
                        <p>Selecione um dos lotes abaixo</p>
                        <%}if (option == 'apagar-produto'){%>
                            <p>Apague um dos produtos abaixo</p>
                            <%}if (option == 'alterar-preco'){%>
                                <p>Digite um novo preço para algum produto abaixo</p>
                                <%}else if(option == undefined){%>
                                    <p>Escolha uma das opções ao lado</p>
                                    <%}%>
            </div>
        </div>

    </main>
    <footer>
        <div class="card-left-footer">
            <img src="images/logo2.png" alt="logo" class="img_logo">
        </div>
        <div class="card-center-footer">
            <p>Made with <img src="images/love.png" class="img_social_media"> By <img src="images/low-res-logo (1).png" class="img_logo2"> Av. Domingos Odália Filho, 301 - Centro, Osasco - SP, 06010-067</p>
        </div>
        <div class="card-right-footer">
            <div>
                <img src="images/fb.png" href="#" class="img_social_media">
            </div>
            <div>
                <img src="images/tt.png" href="#" class="img_social_media">
            </div>
            <div>
                <img src="images/in.png" href="#" class="img_social_media">
            </div>
        </div>
    </footer>
</body>

</html>