<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=,, initial-scale=1.0">
    <title>404 - NOT FOUND</title>
    <style>
        body {
            background-color: #f5c013;
            background-position: center;
        }

        img {
            display: flex;
            align-self: center;
            flex-direction: center;
            justify-content: center;
            width: 95vw;
            height: 90vh;
        }

        a {
            text-decoration: none;
            color: hsla(32, 95%, 30%, 0.824);
            display: flex;
            align-items: flex-end;
            justify-content: right;
            font-size: 25px;
        }
    </style>
</head>
<body>
    <header>
        <a href="/">Clique aqui para voltar para Home</a>
    </header>
    <img src="/images/404NotFound.png">
</body>
</html>