<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/resultPesquisa.css">
    <title>Resultado pesquisa</title>
</head>
<body>
<header id="container">
            <div id="logo"><img src="images/log.png"></div>
            <h1 id="texto"> Os melhores supermercados para <span>sua compra!!!</span> </h1>
            <div class="foto"><a href=""><img src="images/perfil2.png"></a></div>
</header>


<main>

   <!--Aqui ficará a lista dos supermercados-->
    
</main>



<footer>
    <div class="rodape">
         <a href="cad_pes_fisica">Próxima página</a>
        <div>
            <a href="">Fale conosco</a><br>
            Feito com...<img src="images/love2.png">
            <br><small>copyright @2021 - 2022</small></div>
        <div>
            <small>Rod. Presidente Castello Branco, 5000 - São Paulo SP-Brasil</small><br>
                <small>conheça a nossa <a href="">Política de privacidade</a></small>
        </div>
        <div id="voltar-home"><a href=""><img src="images/casa.png"></a></div>

    </div>
</footer>
        
    
    
</body>
</html>