<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/resultPesquisa.css">
    <title>Resultado pesquisa</title>
</head>
<body>
<header id="container">
            <div id="logo"><img src="images/log.png"></div>
            <h1 id="texto"> Os melhores supermercados para <span>sua compra!!!</span> </h1>
            <div class="foto"><a href=""><img src="images/perfil2.png"></a></div>
</header>


<main>

   <!--Aqui ficará a lista dos supermercados-->
    
</main>


<%- include("./partialsFooter")%>

        
    
    
</body>
</html>